.App {
  background-color: #a5d4e7;
}

.app-title {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

#editor-container {
  margin: 0 auto;
  width: 60%;
}

#editor {
  width: 100%;
  resize: vertical;
  min-height: 300px;
  padding: 5px;
  background-color: #dff6ff;
  border: 2px solid #379ec7;
  border-radius: 10px;
}

#preview {
  background-color: #dff6ff;
  border: 2px solid #379ec7;
  border-radius: 10px;
  min-height: 500px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  word-wrap: break-word;
}

pre {
  background-color: white;
}

footer p {
  text-align: center;
  padding: 10px 0;
}